@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');
/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

body { 
	font-size: 16px;
	line-height: 1.25;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background: #f1f1f2;
	color: #555;
}

h1 {
	color:#2262AD;
	font-size: 32px;
	font-weight: 300;
	margin: 20px 0;
	border-bottom: 3px solid #4c9cf1;
	display: inline-block;
}

h2 {
	font-size: 25px;
	font-weight: 300;
	color: #2262AD;
	margin: 20px 0 20px;
}

p {
	line-height: 1.45;
	margin-bottom: 20px;
}

a {
	color:#4c9cf1;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {color:#2262ad;}

img {width: 100%;}

section {
	margin: 10px auto 40px;
	max-width: 980px;
	padding:20px;
}

header {
	background-color: #fff;
	border-bottom: 4px solid #4c9cf1;
	width: 100%;
	height: 76px;
	margin-bottom: 50px;
	position: fixed;
	top: 0;
	left: 0;
}

nav {
	float: right;
	padding:20px;
}

nav li {
	text-align: center;
	width: 100%;
	padding: 10px 0;
	margin:0;
}

nav ul {
	background:#fff;
	border: 5px solid #ccc;
	position: absolute;
	right: 0;
	top: 80px;
	width: 97%;
	display:none;
}

nav:hover ul {
    display: block;
}

#hero {
	margin-top: 95px;
}

#logo {
	background:url('../img/react-logo.png') no-repeat center;
	display: block;
	float: left;
	width: 150px;
	height:40px;
	margin:20px;
}

#menu-icon {
	background: #4c8fec url('../img/menu-icon-2.png') center;
	display: inline-block;
	width: 40px;
	height: 40px;
}

.extratop {
    margin-top: 30px;
}

@media only screen and (min-width: 768px){

h1 {font-size: 42px;}

nav ul {
    display: inline-block;
    border: 0px;
    top: 20px;
    width: 40%;
    text-align: right;
}

nav li {
    display: inline-block;
    padding: 10px;
    width: 15%;
}
}